<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472974310020-jcks1u2leq9ord1oolooem058otvaqeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472974310020-jcks1u2leq9ord1oolooem058otvaqeg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472974310020-p9l3lq18qa3iu3rs1cmaafmsgkvo3nat.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXLJ3ChG3MXFjLC2jb8uCXpS1SRnqGkd8</string>
	<key>GCM_SENDER_ID</key>
	<string>472974310020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zaliczenie.dietetex</string>
	<key>PROJECT_ID</key>
	<string>dietetex-ite17h</string>
	<key>STORAGE_BUCKET</key>
	<string>dietetex-ite17h.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472974310020:ios:2c797d640ac7ea73d2a0d1</string>
	<key>DATABASE_URL</key>
	<string>https://dietetex-ite17h-default-rtdb.firebaseio.com</string>
</dict>
</plist>